.send-button{
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
.chat-input{
  padding: 10px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;

  flex-grow: 1;
}
.chat-input-container{
  display: flex;
  margin-bottom:60px ;
}
.loading-image{
  height: 40px;
  margin: -15px;
}
.clear-messages{
  background-color:rgb(238, 238, 238);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px 20px;
  margin-left: 10px;
}