.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.error-message {
  display: inline-flex;       
  align-items: center;       
  justify-content: center;
  margin: 0;                 
  font-size: 100px;
  color:white;
  max-width: 320px;           
  width: auto;                 
  height: auto;               
  padding: 15px 25px;
  border-radius: 25px;
  background-color:rgb(8, 79, 45);
  line-height: 1;        
  box-sizing: border-box;
}
p{
    background-color: rgb(179, 179, 179);
    color:black;
    padding: 20px 35px;
    border-radius: 15px;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}